[Unit]
Description=LED matrix service

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ctabus
LimitRTPRIO=99
Restart=always
RestartSec=3
ExecStart=python /home/pi/Spotify-Pi/ctabus.py

[Install]
WantedBy=multi-user.target